:root {
    --Strong-cyan: #26c0ab;
    --Very-dark-cyan: #00494d;
    --Dark-grayish-cyan: #5e7a7d;
    --Grayish-cyan: #7f9c9f;
    --Light-grayish-cyan: #c5e4e7;
    --White: hsl(0, 0%, 100%);
    --Very-light-grayish-cyan: #f4fafa;
}
*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Space Mono', monospace;
  font-size: 1.5rem;
  color: var(--Grayish-cyan);
  background: var(--Light-grayish-cyan);
}
main{
  width: 100%;
  height: 100%;
  padding: 50px 0;
}
.title{
  word-break: break-all;
}
h1{
  text-transform: uppercase;
  letter-spacing: 3px;
}
.valor-pr{
  border: 2px solid var(--Very-light-grayish-cyan);
}
.valor-pr:hover {
  border: 2px solid var(--Strong-cyan);
}
.valor-pr p {
  color: var(--Grayish-cyan);
}
.input-valor-pr{
  background: transparent;
  padding-right: 10px;
  width: 80%;
  outline: none;
  color: #00494d;
}
.active{
  background-color: var(--Strong-cyan);
}